*{
    margin: 0;
    padding: 0;
}

.circel{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #006a4e;
    position: absolute;
    transform: translate(-50%, -50%);
}
.circel::after{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #F42A41;
    width: 17px;
    height: 17px;
    border-radius: 50%;
}